/********************HTML SELECTORS******************/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/******************** Top Section ******************/

.top-section {
    display: grid;
    grid-template-areas: "logo . navbar button";
    grid-template-columns: auto 1fr auto auto;
    max-width: 1440px;
    padding-left: 32px;
    margin: auto;
}

