/********************HTML SELECTORS******************/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/******************** Top Section ******************/

.top-section {
    display: grid;
    grid-template-areas: "logo . navbar button";
    grid-template-columns: auto 1fr auto auto;
    max-width: 1440px;
    padding-left: 32px;
    margin: auto;
}

.top-section nav {
    grid-area: navbar;
}

.top-section ul {
    text-align: center;
    margin: 1.2rem 0;
    width: 100%;
}

.top-section li {
    padding: 0 1.2rem;
}

.top-section nav a {
    text-align: center;
    border-bottom: 3px transparent solid;
    padding: 1rem 0;
    font-weight: 500;
    transition-duration: 0.1s;
}

.top-section nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.top-section nav a[data-active="true"] {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

#signup {
    grid-area: button;
}

#signup a {
    color: #0065FC;
    font-weight: 700;
}

/******************** Middle Section ******************/

.middle-section {
    box-sizing: border-box;
    max-width: 1440px;
    padding: 0 2rem;
    margin: auto;
}