/********************HTML SELECTORS******************/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

